@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700');

body {
  padding-bottom: 6rem;
  font-family: 'Open Sans', sans-serif;
  @include mq(md) {
    padding-bottom: 0;
  }
}

.page-content {
  ol {
    > li {
      &:before {
        color: $grey-dk-100;
      }
    }
  }
  ul {
    > li {
      &:before {
        color: $grey-dk-100;
      }
    }
  }
}

.site-title {
  @include mq(md) {
    padding-top: 0;
    padding-left: $sp-5;
  }
  img {
    height: 100%;
    max-width: 180px;
  }
}

.navigation-list-toggle {
  top: $sp-5;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2.4rem;
}

.img-border {
  border: 1px solid $grey-lt-200;
}

// Note, tip, and warning blocks

%callout {
  border: 1px solid $grey-lt-200;
  border-radius: 5px;
  margin: 1rem 0;
  padding: 1rem;
  position: relative;
}

.note {
  @extend %callout;
  border-left: 5px solid $blue-300;
}

.tip {
  @extend %callout;
  border-left: 5px solid $green-300;
}

.warning {
  @extend %callout;
  border-left: 5px solid $red-300;
}

// Labels

.label,
.label-blue {
  background-color: $blue-300;
}

.label-green {
  background-color: $green-300;
}

.label-purple {
  background-color: $purple-300;
}

.label-red {
  background-color: $red-300;
}

.label-yellow {
  color: $grey-dk-200;
  background-color: $yellow-300;
}

// Buttons

.btn-primary {
  @include btn-color($white, $btn-primary-color);
}

.btn-purple {
  @include btn-color($white, $purple-dk-100);
}

.btn-blue {
  @include btn-color($white, $blue-300);
}

.btn-green {
  @include btn-color($white, $green-300);
}

// Tables

th,
td {
  border-bottom: $border rgba($table-border-color, 0.5);
  border-left: $border $table-border-color;
}

thead {
  th {
    border-bottom: 1px solid $table-border-color;
  }
}

// Keeps labels high and tight next to headers

h1 + p.label {
  margin: -46px 0 0 0;
}
h2 + p.label {
  margin: -30px 0 0 0;
}
h3 + p.label {
  margin: -20px 0 0 0;
}
h4 + p.label,
h6 + p.label {
  margin: -14px 0 0 0;
}
h5 + p.label {
  margin: -15px 0 0 0;
}
