@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
}

.site-title {
  padding: 0;
  > img {
    height: 58px;
    margin: 0;
    padding-top: 1px; // to compensate for the 1px border-bottom
    padding-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2.4rem;
}

.img-border {
  border: 1px solid $grey-lt-100;
}

%callout {
  border: 1px solid $grey-lt-300;
  border-radius: 5px;
  margin: 1rem 0;
  padding: 1rem;
  position: relative;
}

.note {
  @extend %callout;
  border-left: 5px solid $blue-000;
}

.tip {
  @extend %callout;
  border-left: 5px solid $green-000;
}

.warning {
  @extend %callout;
  border-left: 5px solid $red-000;
}
