<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  {% if page.description %}
  <meta name="Description" content="{{ page.description }}">
  {% endif %}

  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/just-the-docs.css" | absolute_url }}">
  <link rel="shortcut icon" href="{{ "/assets/images/favicon.ico" | absolute_url }}">

  {% if site.ga_tracking != nil %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_tracking }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.ga_tracking }}');
    </script>
  {% endif %}

  {% if site.search_enabled != nil %}
    <script type="text/javascript" src="{{ "/assets/js/search-data.js" | absolute_url }}"></script>
    <script src="https://unpkg.com/lunr/lunr.js"></script>
  {% endif %}

  {% if site.anchor_links != nil %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.2.0/anchor.min.js"></script>
  {% endif %}

  <script src="https://a0.awsstatic.com/s_code/js/1.0/awshome_s_code.js"></script>

  <!-- SiteCatalyst code version: H.25.1. Copyright 1996-2012 Adobe, Inc. All Rights Reserved -->
  <script><!--
  /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
  var s_code=s.t();if(s_code)document.write(s_code)//--></script>
  <script language="JavaScript" type="text/javascript"><!--
  if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
  //--></script>
  <noscript>
  <img src="//amazonwebservices.d2.sc.omtrdc.net/b/ss/awsamazonalldev2/1/H.25.1--NS/0" height="1" width="1" border="0" alt="" />
  </noscript>
  <!--/DO NOT REMOVE/-->
  <!-- End SiteCatalyst code version: H.25.1. -->

  <script type="text/javascript" src="{{ "/assets/js/just-the-docs.js" | absolute_url }}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
